/* Made by
@cssbuttons-io
https://uiverse.io/cssbuttons-io/funny-dog-69 */
#bg-rd {
    display: flex;
    margin-top: -400px;
    justify-content: center;
    align-items: center;

    height: 100vh;
    overflow: hidden;
}
button {
    justify-content: center;
    align-items: center;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    text-decoration: none;
    transition: all 0.3s;
    text-decoration-line: none;
}



button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color), 0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}


/* movile */


@media only screen and (min-width:700px) and (max-width:2000px){
       #bg-rd {
        margin-top: -40px;
        text-decoration: none;
        text-decoration-line: none;
       }
      }

@media only screen and (min-width:700px) and (max-width:1080px){
       #bg-rd {
        text-decoration: none;
        margin-top: 500px;
        text-decoration-line: none;
       }
      }